<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover fun and educational activities for kids of all ages to help bust boredom with our tailored recommendations.">
    <meta name="keywords" content="kids activities, educational games, children entertainment, family fun, home activities">
    <meta name="author" content="BoredKids">

        <!-- Apple specific tags for home screen apps -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BoredKids">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="/manifest.json">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://boredkids.app/">
    <meta property="og:title" content="BoredKids">
    <meta property="og:description" content="Discover fun and educational activities for kids of all ages to help bust boredom with our tailored recommendations.">
    <meta property="og:image" content="https://boredkids.app/images/preview.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://boredkids.app/">
    <meta property="twitter:title" content="BoredKids">
    <meta property="twitter:description" content="Discover fun and educational activities for kids of all ages to help bust boredom with our tailored recommendations.">
    <meta property="twitter:image" content="https://boredkids.app/images/preview.jpg">

    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>BoredKids</title>
</head>
<body>  
        <div class="header">  
          <h1 class="appName"><a href="https://boredkids.app/" style="text-decoration: none;color: #000;">BoredKids</a></h1>
        </div>
        <div id="container" class="container">
          <div id="response" class="response-container">
          </div>
          <div id="mainFormDiv">
            <center style="padding-top: 40px;">
              <div id="headlineText" style="padding-top:40px;">
                <h1>Spot a bored kid?</h1>
              </div>
              <form id="mainForm" method="POST" action="/recommendations">
                <div class="conversationalContent">
                  <span class="conversationalText">I want to keep a </span>
                  <div class="form-group conversationalInput">
                    <select name="kidsAge" id="kidsAge" class="custom-select">
                      <option value="2 years">2 year old</option>
                      <option value="3 years">3 year old</option>
                      <option value="4 years">4 year old</option>
                      <option value="5 years">5 year old</option>
                      <option value="6 years" selected>6 year old</option>
                      <option value="7 years">7 year old</option>
                      <option value="8 years">8 year old</option>
                      <option value="9 years">9 year old</option>
                      <option value="10 years">10 year old</option>
                      <option value="11 years">11 year old</option>
                      <option value="12 years">12 year old</option>
                    </select>
                  </div>
                  <span class="conversationalText">busy for </span>
                  <div class="form-group conversationalInput">
                    <select name="timeAvailable" id="timeAvailable" class="custom-select">
                      <option value="30 minutes" selected>30 minutes</option>
                      <option value="1 hr">1 hour</option>
                      <option value="2 hrs">2 hours</option>
                      <option value="3 hrs">3 hours</option>
                    </select>
                  </div>
                  <div id="custom-options" class="custom-options" style="display: none;">
                    <span class="conversationalText">, who's interested in</span>
                    <div class="form-group conversationalInput">
                      <select name="interests" id="interests" class="custom-select">
                        <option value="">any activity</option>
                        <option value="Incredible Arts & Crafts">arts & crafts</option>
                        <option value="Amazing Board Games & Puzzles">board games & puzzles</option>
                        <option value="Exhilarating Building & Constructing">building & constructing</option>
                        <option value="Captivating Drama & Acting">drama & acting</option>
                        <option value="Exhilarating Lego">lego</option>
                        <option value="Marvelous Music & Dance">music & dance</option> 
                        <option value="Incredible Reading & Story Telling">reading & storytelling</option>
                        <option value="Breathtaking Sports & Physical games">sports & physical games</option>
                        <option value="Captivating STEM activity">STEM activity</option>
                        <option value="Captivating Science Experiments">science experiments</option>
                        <option value="Thrilling Outdoor Adventure">outdoor adventure</option>         
                      </select>
                    </div>
                    <span class="conversationalText">to play</span>
                    <div class="form-group conversationalInput">
                      <select name="playWith" id="playWith">
                        <option value="self-play" selected>independently</option>
                        <option value="sibling">with sibling(s)</option>
                        <option value="friends">with friend(s)</option>
                        <option value="parent">with parent(s)</option>                
                      </select>
                    </div>
                  </div>
                </div> <!--end of conversational content-->
                <a id="customizeLink" href="javascript:void(0);" id="customize-options" class="customize-link" onclick="toggleCustomize()">more options</a>           
                <input id="mainCTA" type="submit" value="✧ Get Activity">
              </form>
            </center>
          </div>
        </div>
    <script src="/script.js"></script>
</body>
<footer>
    <p>Made with 💛 by <a href="https://twitter.com/athahar" target="_blank">@athahar</a></p>
    <p>&copy; 2024 BoredKids App. All rights reserved.</p>

    <div style="margin:48px 0px;">
        <div class="save-app-btn" style="margin-bottom:24px;">
            <a href="" id="saveAppBtn">Save app on phone</a>
            <div id="instructionPopover" style="display:none; position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); padding: 10px; background: white; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); z-index: 1000;">
              <p>To add this app to your home screen: tap 
                <img src="/icons/share-icon.png" alt="Share Icon" style="width: 20px; vertical-align: middle;"> 
              then 'Add to Home Screen'
              </p>
            </div>
        </div>
        <a href="mailto:boredkidsapp@gmail.com" id="email"  target="_blank">Send feedback</a>
    </div>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="boredkids" data-color="#000000" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
</footer>
</html>
